doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Buildplate
        //- Styles
        link(rel="stylesheet", href="assets/css/main.min.css")
    body
        //- Page header
        include partials/header.pug

        //- Main page content
        block content

        //- Page header
        include partials/footer.pug

        //- Scripts
        script(src="assets/vendor/jquery/jquery.min.js")
        script(src="assets/vendor/popper/popper.min.js")
        script(src="assets/vendor/bootstrap/bootstrap.min.js")
        script(src="assets/js/main.min.js")
